{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!
{% endblock %}

{% block body %}
	{% for order in orders %}
		{{order.customer.firstName}}
		{{order.customer.lastName}}

		{{order.orderedAt|date("d/m/Y h:m")}}
		statut :
		{{order.state}}
		<a href="{{path('detail_order', {id: order.id})}}">Détail</a>
		{% if order.state == 'En Attente' %}
			<a href="{{path('accept_order', {id: order.id})}}">Accepter</a>
			<a href="{{path('refuse_order', {id: order.id})}}">Refuser</a>
		{% endif %}
<br>
	{% endfor %}
{% endblock %}
